@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterTemplate.cshtml";
}
@section mainArea{
<div class="img-header">
    <div class="img-header-text">Services</div>
</div>
<div class="service-box">
    <table class="service-table">
        <tr class="service-row">
            <td class="service-col" align="right">
                <img class="img-responsive" src="/assets/images/examine.png">
            </td>
            <td class="service-col">
                <div class="service-text">
                    <span>Examine<br />Cars</span>
                    <div class="service-bar"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="service-box">
    <table class="service-table">
        <tr class="service-row">
            <td class="service-col" align="right">
                <img class="img-responsive" src="/assets/images/wholesale.png">
            </td>
            <td class="service-col">
                <div class="service-text">
                    <span>Deal in Whole Sale<br />& Retail Market</span>
                    <div class="service-bar"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="service-box">
    <table class="service-table">
        <tr class="service-row">
            <td class="service-col" align="right">
                <img class="img-responsive" src="/assets/images/photoshoot.png">
            </td>
            <td class="service-col">
                <div class="service-text">
                    <span>Professional<br />photoshoot & video <br /> of cars</span>
                    <div class="service-bar"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
}
@section jsArea{
}
