@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
   @using Our.Umbraco.Vorto.Extensions
@{
	Layout = "MasterTemplate.cshtml";
}
@section mainArea{
<div class="img-header">
    <div class="img-header-text">@Model.Content.GetVortoValue("navigationName")</div>
</div>
<div class="content-container about-us-container">
    @Html.Raw(Model.Content.GetVortoValue("content"))
</div>
}
@section jsArea{}