<div id="menu4" class="tab-pane fade margin-none">
    <div class="panel panel-default border-top-none">
        <div class="panel-body view-height-250">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="gallery-container">
                        <ul class="row light-gallery" id="imageGallery">
                            @foreach (var item in ViewBag.Gallery)
                            {
                                
                                <li class="col-sm-4 col-md-4 col-lg-3" data-src="@item.ImagePath">
                                    <a class="">
                                        <img class="img-responsive img-rounded" src="@item.ImagePath">
                                        <i class="fa fa-search-plus"></i>
                                    </a>
                                </li>

                            }
                        </ul>
                    </div>
                </div>
                    
            </div>
        </div>
        
    </div>
</div>
<style>
    body .light-gallery {
     display: block !important; 
    list-style: none;
    padding: 0;
    margin: 0;
}
</style>